/*tudo recionado ao header */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

:root{
    --cor_primri-- : #cdc9c9;
    --cor_secundri-- : #595959;
    --cor_terciri-- : #0d0d0d;
}


#a, li ,ul, p ,h1, h2{
    font-family: 'Playfair Display', serif; 
}

.list_p{
    background-color: var(--cor00--);
    position: relative;
}
.list_p .li_p{
    display: inline;
}

.list_p .li_p .cor1{
    color: var(--cor03--);
    text-decoration: none;
    padding: 9px;
}

.list_p .li_p  :hover{
    color: var(--cor02--);
    background-color: #cca84b;
}
.list_p .list_s{
    padding: 0;
    
    position: absolute;
}

.list_p  .li_p :hover .list_s{
    display: block;
}

h1{
    text-align: center;
    color: #CDC9C9;
    margin-top: 0%;  
    
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #cca84b;
    position: relative;
    z-index: 1;
}
