@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


 p ,h1, h2{
    font-family: 'Playfair Display', serif; 
}

body{
    background-image: url("https://img.freepik.com/psd-gratuitas/maquete-de-marca-de-garrafa-de-vinho_358694-2632.jpg?w=2000");
   
    background-size: cover;
}

p {
    color: aliceblue;
}

h2{
    color: aliceblue;
}

section{
    position: absolute;
    text-align: center;
    top: 30%;
}
